%visually-hidden{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
html,body{margin:0;font-size:14px;line-height:18px;}
.post-function{display:flex;
    .post-count{}
    .post-type-toggle{}
}
table{width:100%;border:none;border-bottom:1px solid #aaa;border-collapse:collapse;border-spacing:0;
    caption{@extend %visually-hidden;}
    th{border-top:1px solid #aaa;}
    td{border-top:1px solid #e1e3e5;}
    thead{
        th{padding:15px 10px;background:#f5f7f9;}
    }
    tbody{text-align:center;
        td{padding:10px;}
    }
}
.text-align-left{text-align:left;}
.text-align-center{text-align:center;}
.text-align-right{text-align:right;}

.margin-top-20{margin-top:20px;}